
body{
    background-color: #f5f1e8;
}

img{
    width: 40%;
    height: auto;
}

#liste {
  display: flex;
  justify-content: center; 
  align-items: flex-start;  
  gap: 100px;                
  padding: 40px;
}

#listaUL,
#listaOL {
  width: 350px;              
}

#listaUL h3,
#listaOL h3 {
  text-align: center;        
}


#Titlu{
    text-align: center;
    font-size: 40px;
}

h2{
    font-size: 30px;
}

#Introducere{
    margin-left: 240px;
    text-align: center;
    max-width: 1000px;
}

.Sectiune{
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 50px;
    background-color: #ffffff;
    border: 1px solid #c8bfae;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}