
img{
    width: 50%;
    height: auto;
}

#Titlu{
    text-align: center;
}

h2{
    font-size: 30px;
    text-align: center;
}

#Introducere{
    margin-left: 240px;
    text-align: center;
    max-width: 1000px;
}

.Left{
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 50px;
    border: 3px solid black;
    padding: 2%;
}

.Right{
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 50px;
    border: 3px solid black;
    padding: 2%;
}