
body{
    background-color: #f5f1e8;
}

img{
    width: 40%;
    height: auto;
}

#liste {
  display: flex;
  justify-content: center; 
  align-items: flex-start;  
  gap: 100px;                
  padding: 20px;
}

#listaUL,
#listaOL {
  width: 550px;              
}

#listaUL h3,
#listaOL h3 {
  text-align: center;
  background-color: #e6dccf;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 20px;
}

#liste a {
  color: #000;
}


#Titlu{
    text-align: center;
    font-size: 40px;
}

h2{
    font-size: 30px;
}

#Introducere{
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
}

.Sectiune{
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 50px;
    background-color: #ffffff;
    border: 1px solid #c8bfae;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

hr{
    margin-top: 25px;
    width: 45%;
    height: 2px;         
    background-color: black;
}

#Concluzie {
    max-width: 900px;
    margin: 20px auto;
    text-align: center;
}
